.root {
    box-shadow: inset 1px 1px 5px 2px rgba(10, 10, 10, 0.5);
    background-color: rgb(20, 20, 21);    
    display: flex;
    overflow: scroll;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}

.root::-webkit-scrollbar {
    display: none;
}

.inputbox {
    box-shadow: none;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}
.inputbox::placeholder {
    --color:rgb(63, 63, 63); 
    color: var(--color);
}

.tagbox {
    margin-block: auto;
    display: flex;
}