.root {
    position: absolute;
    overflow: scroll;
    padding: 6px;
    box-sizing: border-box;
    font-family: Hack Nerd Font;
    font-weight: bold;
}

.root::-webkit-scrollbar {
    display: none;
}