.root {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Hack Nerd Font;
    font-weight: bold;
}

.root::-webkit-scrollbar {
    display: none;
}

.itemelm {
    padding: 2px;
    text-wrap: nowrap;
}