
.root {
  border-radius: 10px;
  
  /* display: flex;
  flex-direction: column; */

  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  
  top: 20px;
  left: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);

  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
  background-color: rgb(35, 35, 44);

  /* なんかバグるので一旦なし */
  /* background-color: rgba(15, 15, 20, 0.7);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px); */
}