.root {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    border-radius: 10px;
    font-family: Hack Nerd Font;
    text-wrap: wrap;
    margin: 14px;
    margin-top: 0px;
    
    /* 
    まじでなんとかしたい.
    cssの書き方のいい方法が分からない
    */
    height: calc(
        100% - 
        68px -  /* テキストボックスの高さ */
        28px    /* この要素のmargin */
    );
    
    flex-grow: 1;
}

.root * {
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.root::-webkit-scrollbar {
    display: none;
}

.itemroot {
    border-radius: 8px;
    padding: 15px;
    background-color: rgba(20, 20, 20, 0.3);
    margin-block-end: 15px;
}
.itemroot.focus {
    background-color: rgba(40, 40, 40, 0.3);
}

.title {
    color: rgb(156, 221, 221);
    font-weight: bold;
    font-size: x-large;
    margin: 5px;
    
    transition: text-shadow 0.5s;
}
.focus .title{
    text-shadow: rgba(156, 221, 221, 0.5) 0px 0 5px;
}

.url {
    color: rgb(166, 166, 166);
    font-weight: 100;
    font-size: small;
    overflow: hidden;
    overflow-wrap: normal;

    text-overflow: ellipsis; 
    /* line-clamp: 1; */
}

.desc {
    color: rgb(166, 166, 166);
    font-weight: 100;
    font-size: small;
    /* text-overflow: clip; */
    width: 100%;
    
    
    /* 参考  https://zenn.dev/itayuri/articles/51f0004a3bad64 */
    display: -webkit-box; /* 必須 */
    -webkit-box-orient: vertical; /* 必須 */
    line-clamp: 3;
    -webkit-line-clamp: 3; /*行数を制限*/
    overflow: hidden; /* はみ出た部分を非表示 */
}

.tag {
    font-size: small;
    color: lightgreen;
    margin-inline: 2px;
    transition: text-shadow 0.5s;
}
.tag:hover {
    /* text-shadow: ; */
    text-shadow: rgba(144, 238, 144, 0.8) 0px 0 5px;
}