
.create-new-tag-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--create-new-tag-bg);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}


.create-new-tag-inner{
    position: relative;    
    top: 10vh;
    left: 25vw;
    width: 50vw;
    height: 30vh;
    padding: 10%;
    box-sizing: border-box;
    background-color: var(--create-new-tag-window-bg);
}
.create-new-tag-input-box {
    background-color: var(--defalut-input-box);
}