body {
	margin: 0;
	background-color: var(--base-bg);
    font-family: Hack Nerd Font Bold;
}

.tag-suggestion-window {
	background-color: var(--color7);
	width: 30vw;
    position: absolute;
    overflow: hidden;
}


.tag-suggestion-window-list-outer {
    position: relative;
    max-height: 15vh;
    overflow: scroll;
    border: solid 1px var(--color8);
}

.tag-suggestion-window-list-outer::-webkit-scrollbar {
	display: none;
}

.tag-suggestion-window-list-outer span {
    font-size: small
}

.tag-suggestion-unmatch {
    color: var(--color5);    
}

.tag-suggestion-match {
    color: var(--color6);    
}

.tag-suggestion-list-item {
    box-sizing: border-box;
    padding: 1px;
}

.focused-tag-suggestion-list-item {
    background-color: var(--color9);
}

:root {
    --color1: #455765;
    --color2: #c1e4e9;
    --color3: #393f4c;
    --color4: #20242f;
    --color5: rgb(150,150,150);
    --color6: white;
    --color7: #151a26; 
    --color8: rgb(20,20,20);
    --color9: rgb(31,36,48);
    --create-new-tag-window-bg: var(--color3);    
    --create-new-tag-bg: rgba(10,10,10,0.5);
    --base-bg: var(--color4);
    --defalut-input-box: var(--color2);
}