body {
    background-color: #292D3E;
    color: white;
    font-size: xx-large;
}

#tag-suggestion-window{
    position: absolute;
    padding: 10px;
    background-color: black;
}
.suggestion-item-focus{
    border: solid red 3px;
    box-sizing: border-box;
}

.tag-exists-db{
    color: green;
}

.tag-not-exists-db{
    color: red;
}

.bkmk-list-item-focus{
    border: solid red 3px;
    box-sizing: border-box;
}

#pages {
    margin-block: 5%;
    margin-inline: 5%;
}

#page-home-input-tags {
    /* background-color: red; */
    font-size: large;
    /* background-color: #292D3E; */
    background-color: #393D4E;
    color: #fafafa;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

