body {
    background-color: #292D3E;
    color: white;
    font-size: x-large;
    font-family: Hack;
    font-weight: 700;
}

:root{
    --font-color-white: #f8f8f8;
    --tag-suggestion-window-z: 10;
    --input-box-background-color: #393D4E;
    --background-color: #292D3E;
    --kurome-background-color: #191D2E;
}

#tag-suggestion-window{
    position: absolute;
    padding: 10px;
    background-color: black;
    z-index: var(--tag-suggestion-window-z);
}
.suggestion-item-focus{
    border: solid red 3px;
    box-sizing: border-box;
}

.tag {
    padding: 5px;
    margin: 5px;
}

.tag-exists-db{
    color: rgb(20, 220, 20);
}

.tag-not-exists-db{
    color: red;
}

.bkmk-list-item-focus{
    border: solid red 3px;
    box-sizing: border-box;
}

#pages {
    margin-block: 5%;
    margin-inline: 5%;
}

#page-add-input-url {
    color: var(--font-color-white);
    padding: 7px;
    margin-block: 5px;
    border-radius: 5px;
    border: none;
    width: 88%;
    background-color: var(--input-box-background-color);
    outline: none;
    background-color: var(--input-box-background-color);
    font-size: x-large;
}

#page-add-input-title {
    color: var(--font-color-white);
    padding: 7px;
    margin-block: 5px;
    border-radius: 5px;
    border: none;
    width: 88%;
    background-color: var(--input-box-background-color);
    outline: none;
    background-color: var(--input-box-background-color);
    font-size: x-large;
}

#page-add-done-btn {
    font-size: x-large;
    background-color: rgb(50, 50, 50);
    color: var(--font-color-white);
    padding: 8px;
    padding-inline: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.input-tag {
    /* background-color: red; */
    font-size: x-large;
    /* background-color: #292D3E; */
    background-color: var(--input-box-background-color);
    color: #fafafa;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
    outline: none;
    flex-wrap: wrap;
}

.input-tag-container {
    flex-wrap: wrap;
    display: flex;
    background-color: var(--input-box-background-color);
    border-radius: 5px;
    margin-block: 10px;
}

.pages-add-form-container{
    padding: 8%;
    border-radius: 30px;
    margin: 5%;
    background-color: var(--kurome-background-color);
}

.inputed-tags {
    flex-wrap: wrap;
    display: flex;
}

