@import "https://www.nerdfonts.com/assets/css/webfont.css";

body {
    margin-inline: 5%;
    margin-block: 2%;
    background-color: #292D3E;
    color: white;
    font-size: x-large;
    font-family: Hack;
    font-weight: 700;
    overflow: hidden;
}


:root {
    --font-color-white: #f8f8f8;
    --font-color-usui-white: #999999;
    --tag-suggestion-window-z: 10;
    --input-box-background-color: #393D4E;
    --background-color: #25293A;
    --kurome-background-color: #191D2E;
    --kurome-background-color2: #191D31;
}

.tag-suggestion-window {
    position: absolute;
    background-color: var(--kurome-background-color2);
    z-index: var(--tag-suggestion-window-z);
    width: 30vw;
    border-radius: 3px;
    border: solid 0.1px rgb(20, 20, 20);
}

.tag-suggestion-window-inner-padding {
    margin: 10px;
    overflow: hidden;
    max-height: 50vh;
    position: relative;
}

.suggestion-item {
    width: 100%;
    color: var(--font-color-usui-white);
}

.suggestion-item-match-str {
    color: white;
}

.suggestion-item-focus {
    /* border: solid red 3px; */
    /* box-sizing: border-box; */
    background-color: var(--input-box-background-color);
}

.inputed-tags {
    flex-wrap: wrap;
    display: flex;
}

.input-tag-container {
    flex-wrap: wrap;
    display: flex;
    background-color: var(--input-box-background-color);
    border-radius: 5px;
    margin-block: 10px;
}

.input-tag-box {
    font-size: x-large;
    background-color: var(--input-box-background-color);
    color: #fafafa;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
    outline: none;
    flex-wrap: wrap;
}

.hit-tag-list {
    margin: 9px;
    margin-inline: 6%;
    border-radius: 10px;
    background-color: #191D2E;
    padding-block: 4px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hit-tag-list-container {
    width: 100%;
    height: 90%;
}

.hit-tag-list-item {
    width: 80%;
    position: relative;
    margin: 3px;
    margin-inline: auto;
    padding: 7px;
    padding-bottom: 4px;
    border-bottom: solid var(--input-box-background-color);
    display: flex;
    justify-content: space-between;
}

.hit-tag-list-item-name {
    font-size: x-large;
    font-weight: 300;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hit-tag-list-item-count {
    font-size: large;
    font-weight: 100;
}

.home-inner-flex {
    display: flex;
}

.home-inner-layout-left {
    width: 70vw;
}

.home-inner-layout-right {
    width: 25vw;
    height: 91vh;
}


.bookmark-list-item-title {
    margin: 5px;
    margin-bottom: 8px;
    inline-size: 100%;
    overflow-wrap: break-word;
}

.bookmark-list-item-desc {
    font-size: medium;
    margin: 5px;
    margin-bottom: 2px;
    font-weight: 400;
    inline-size: 100%;
    overflow-wrap: break-word;
    color: #999999;
}

.bookmark-list-item-created-at {
    margin: 5px;
    font-size: medium;
    font-weight: 600;
    color: #999999;
}

.bookmark-list-item-container {
    border-radius: 10px;
    padding: 10px;
    margin-block: 8px;
    background-color: var(--kurome-background-color);
    box-sizing: border-box;
}

.bookmark-list-item-container-focus {
    background-color: var(--input-box-background-color);
}


.searched-bkmks {
    overflow: hidden;
    max-height: 84vh;
    position: relative;
}

.searched-bkmks::-webkit-scrollbar {
    display: none;
}

.tag {
    padding: 5px;
    margin: 5px;
}

.tag-exists-db {
    color: rgb(20, 220, 20);
}

.tag-not-exists-db {
    color: red;
}

.goto-addpage-button {
    /* background-color: var(--kurome-background-color); */
    font-family: nf-oct-diff_added;
    background-color: var(--kurome-background-color2);
    color: white;
    margin-top: 10px;

    /* outline: none; */
    border: none;
    padding: 10px;
    font-size: x-large;
    margin-inline: 6%;
    border-radius: 10px;
}