
.root {
    position: relative;
    display: flex;
    border: solid 1px black;
    width: fit-content;
    padding: 2px;
    padding-inline: 10px;
    border-radius: 7px;
    margin: 5px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: rgb(30, 30, 30);
    box-sizing: border-box;
    
    transition: border-color 0.2s;
    --btn-display: none;
}

.root:hover {
    --btn-display: block;
    border: solid 1px rgb(137, 39, 39);
}

.textbox {
    font-weight: bold;
    font-family: Hack Nerd Font;
}

.textbox.exists {
    color: lightgreen;
    text-shadow: rgba(144, 238, 144, 0.5) 0px 0 5px;
}
.textbox.notexists {
    color: rgb(255, 255, 122);
}


.removebtn {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;

    border-radius: 7px;
    border: none;
    box-sizing: border-box;
    position: absolute;
    display: var(--btn-display);
    right: 0;
    top: 0;
}